<!DOCTYPE html>
<html lang="bn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <title>প্রশ্ন তালিকা</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Edification</h2>
  <h1>{{ subject }} - {{ paper }} - {{ board }} - {{ year }} প্রশ্নসমূহ</h1>
  {% for q in questions %}
  <div class="question-card">
    <h3>{{ q.title }}</h3>
  
    <!-- প্রশ্ন যদি ছবি/ভিডিও/অডিও হয় -->
    {% if "drive.google.com" in q.question %}
    <iframe 
      src="{{ q.question | replace('view?usp=drive_link', 'preview') }}" 
      width="100%" height="300" allow="autoplay"></iframe>
    {% endif %}
  
    <!-- উত্তর যদি ছবি/ভিডিও/অডিও হয় -->
    {% if "drive.google.com" in q.answer %}
    <iframe 
      src="{{ q.answer | replace('view?usp=drive_link', 'preview') }}" 
      width="100%" height="300" allow="autoplay"></iframe>
    {% endif %}
  </div>
  {% endfor %}
  <a href="{{ url_for('index') }}" class="home-button">Home</a>
  </div>
  <footer>
    <p>&copy; 2025 All rights reserved. [TeslaTech]</p>
</footer>
</body>
</html>
